/* NAVBAR */

.navbar-brand{
    color: #502416;
    font-weight: 700;
}

.nav-link{
    font-weight: 500;
    position: relative;
    color:#5C4033
}

.nav-link::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: #5C4033;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

.nav-link:hover::after{
    width: 100%;
}

.btn-dark{
    background-color: #6B3A2A;
    border-color: #6B3A2A;
    border-radius: 30px;
    padding: 10px 24px;
}

.btn-dark:hover{
    background-color: #502416;
    border-color: #502416;
}